
.Rproj.user/AA774662/sources/s-448D0CF1/lock_file
.Rproj.user/AA774662/bookdown-crossref/01-intro.Rmd.xref
.Rproj.user/AA774662/bookdown-crossref/02-basics.Rmd.xref
.Rproj.user/AA774662/bookdown-crossref/03-crs.Rmd.xref
.Rproj.user/AA774662/bookdown-crossref/04-data-formats.Rmd.xref
.Rproj.user/AA774662/bookdown-crossref/05-osm.Rmd.xref
.Rproj.user/AA774662/bookdown-crossref/06-styles.Rmd.xref
.Rproj.user/AA774662/bookdown-crossref/06-visualisation.Rmd.xref
.Rproj.user/AA774662/bookdown-crossref/07-spatial-analysis-basics.Rmd.xref
.Rproj.user/AA774662/bookdown-crossref/08-visualisation.Rmd.xref
.Rproj.user/AA774662/bookdown-crossref/index.Rmd.xref
.Rproj.user/AA774662/pcs/debug-breakpoints.pper
.Rproj.user/AA774662/pcs/files-pane.pper
.Rproj.user/AA774662/pcs/packages-pane.pper
.Rproj.user/AA774662/pcs/source-pane.pper
.Rproj.user/AA774662/pcs/windowlayoutstate.pper
.Rproj.user/AA774662/pcs/workbench-pane.pper
.Rproj.user/AA774662/rmd-outputs
.Rproj.user/AA774662/saved_source_markers
.Rproj.user/AA774662/sources/prop/11100F5D
.Rproj.user/AA774662/sources/prop/1CFA562F
.Rproj.user/AA774662/sources/prop/43CCA293
.Rproj.user/AA774662/sources/prop/77340A24
.Rproj.user/AA774662/sources/prop/8B3B5808
.Rproj.user/AA774662/sources/prop/AFA4420B
.Rproj.user/AA774662/sources/prop/CA4B50FB
.Rproj.user/AA774662/sources/prop/E0BCA7E9
.Rproj.user/AA774662/sources/prop/F348275C
.Rproj.user/AA774662/sources/prop/INDEX
.Rproj.user/AA774662/sources/s-7F9B51C7/071B7CF6
.Rproj.user/AA774662/sources/s-7F9B51C7/071B7CF6-contents
.Rproj.user/AA774662/sources/s-7F9B51C7/1ACC7431
.Rproj.user/AA774662/sources/s-7F9B51C7/1ACC7431-contents
.Rproj.user/AA774662/sources/s-7F9B51C7/43153A8A-contents
.Rproj.user/AA774662/sources/s-7F9B51C7/745F9360-contents
.Rproj.user/AA774662/sources/s-7F9B51C7/89DE484D-contents
.Rproj.user/AA774662/sources/s-7F9B51C7/8DE7D4BA-contents
.Rproj.user/AA774662/sources/s-7F9B51C7/9CF77071-contents
.Rproj.user/AA774662/sources/s-7F9B51C7/B3223DBE-contents
.Rproj.user/AA774662/sources/s-7F9B51C7/lock_file
.Rproj.user/shared/notebooks/4B367848-05-osm/1/s/chunks.json
.Rproj.user/shared/notebooks/4CDF7165-06-styles/1/AA7746623F4B1392/chunks.json
.Rproj.user/shared/notebooks/4CDF7165-06-styles/1/s/chunks.json
.Rproj.user/shared/notebooks/8D9236E5-07-spatial-analysis-basics/1/AA7746627F9B51C7/chunks.json
.Rproj.user/shared/notebooks/8D9236E5-07-spatial-analysis-basics/1/s/chunks.json
.Rproj.user/shared/notebooks/9D4353B2-04-data-formats/1/s/chunks.json
.Rproj.user/shared/notebooks/E4CAA084-03-crs/1/s/chunks.json
.Rproj.user/shared/notebooks/patch-chunk-names
.Rproj.user/shared/notebooks/paths
