
.Rproj.user/AA774662/sources/s-448D0CF1/lock_file
.Rproj.user/AA774662/bookdown-crossref/01-intro.Rmd.xref
.Rproj.user/AA774662/bookdown-crossref/02-basics.Rmd.xref
.Rproj.user/AA774662/bookdown-crossref/03-crs.Rmd.xref
.Rproj.user/AA774662/bookdown-crossref/04-data-formats.Rmd.xref
.Rproj.user/AA774662/bookdown-crossref/05-osm.Rmd.xref
.Rproj.user/AA774662/bookdown-crossref/06-styles.Rmd.xref
.Rproj.user/AA774662/bookdown-crossref/06-visualisation.Rmd.xref
.Rproj.user/AA774662/bookdown-crossref/07-spatial-analysis-basics.Rmd.xref
.Rproj.user/AA774662/bookdown-crossref/08-visualisation.Rmd.xref
.Rproj.user/AA774662/bookdown-crossref/index.Rmd.xref
.Rproj.user/AA774662/pcs/debug-breakpoints.pper
.Rproj.user/AA774662/pcs/files-pane.pper
.Rproj.user/AA774662/pcs/packages-pane.pper
.Rproj.user/AA774662/pcs/source-pane.pper
.Rproj.user/AA774662/pcs/windowlayoutstate.pper
.Rproj.user/AA774662/pcs/workbench-pane.pper
.Rproj.user/AA774662/rmd-outputs
.Rproj.user/AA774662/saved_source_markers
.Rproj.user/AA774662/sources/prop/11100F5D
.Rproj.user/AA774662/sources/prop/1CFA562F
.Rproj.user/AA774662/sources/prop/43CCA293
.Rproj.user/AA774662/sources/prop/77340A24
.Rproj.user/AA774662/sources/prop/8B3B5808
.Rproj.user/AA774662/sources/prop/AFA4420B
.Rproj.user/AA774662/sources/prop/CA4B50FB
.Rproj.user/AA774662/sources/prop/E0BCA7E9
.Rproj.user/AA774662/sources/prop/F348275C
.Rproj.user/AA774662/sources/prop/INDEX
.Rproj.user/AA774662/sources/s-7F9B51C7/071B7CF6
.Rproj.user/AA774662/sources/s-7F9B51C7/071B7CF6-contents
.Rproj.user/AA774662/sources/s-7F9B51C7/1ACC7431
.Rproj.user/AA774662/sources/s-7F9B51C7/1ACC7431-contents
.Rproj.user/AA774662/sources/s-7F9B51C7/43153A8A-contents
.Rproj.user/AA774662/sources/s-7F9B51C7/745F9360-contents
.Rproj.user/AA774662/sources/s-7F9B51C7/89DE484D-contents
.Rproj.user/AA774662/sources/s-7F9B51C7/8DE7D4BA-contents
.Rproj.user/AA774662/sources/s-7F9B51C7/9CF77071-contents
.Rproj.user/AA774662/sources/s-7F9B51C7/B3223DBE-contents
.Rproj.user/AA774662/sources/s-7F9B51C7/lock_file
.Rproj.user/shared/notebooks/4B367848-05-osm/1/s/chunks.json
.Rproj.user/shared/notebooks/4CDF7165-06-styles/1/AA7746623F4B1392/chunks.json
.Rproj.user/shared/notebooks/4CDF7165-06-styles/1/s/chunks.json
.Rproj.user/shared/notebooks/8D9236E5-07-spatial-analysis-basics/1/AA7746627F9B51C7/chunks.json
.Rproj.user/shared/notebooks/8D9236E5-07-spatial-analysis-basics/1/s/chunks.json
.Rproj.user/shared/notebooks/9D4353B2-04-data-formats/1/s/chunks.json
.Rproj.user/shared/notebooks/E4CAA084-03-crs/1/s/chunks.json
.Rproj.user/shared/notebooks/patch-chunk-names
.Rproj.user/shared/notebooks/paths
.Rproj.user/shared/notebooks/9463FF71-02-basics/1/s/chunks.json
.Rproj.user/shared/notebooks/8D9236E5-07-spatial-analysis-basics/1/AA774662A061D595/chunks.json
.Rproj.user/shared/notebooks/8D9236E5-07-spatial-analysis-basics/1/AA77466281B79187/chunks.json
.Rproj.user/shared/notebooks/8D9236E5-07-spatial-analysis-basics/1/AA77466261EDF218/chunks.json
.Rproj.user/shared/notebooks/8D9236E5-07-spatial-analysis-basics/1/AA7746623BBFC734/chunks.json
.Rproj.user/shared/notebooks/4CDF7165-06-styles/1/AA77466281B79187/chunks.json
.Rproj.user/AA774662/sources/prop/4F95B6EC
.Rproj.user/AA774662/sources/prop/0C5C360E
.Rproj.user/AA774662/sources/prop/01ADAAE1
.Rproj.user/AA774662/sources/per/t/5734BFB3-contents
.Rproj.user/AA774662/sources/per/t/5734BFB3
.Rproj.user/AA774662/sources/per/t/1ACC7431-contents
.Rproj.user/AA774662/sources/per/t/1ACC7431
.Rproj.user/AA774662/bibliography-index/biblio-files
.Rproj.user/AA774662/bibliography-index/biblio-refblock
.Rproj.user/AA774662/bibliography-index/biblio.json
.Rproj.user/AA774662/sources/prop/309CC40B
.Rproj.user/AA774662/sources/s-1B2A1868/1ACC7431
.Rproj.user/AA774662/sources/s-1B2A1868/1ACC7431-contents
.Rproj.user/AA774662/sources/s-1B2A1868/1CBD249F
.Rproj.user/AA774662/sources/s-1B2A1868/1CBD249F-contents
.Rproj.user/AA774662/sources/s-1B2A1868/3F7E40B4
.Rproj.user/AA774662/sources/s-1B2A1868/3F7E40B4-contents
.Rproj.user/AA774662/sources/s-1B2A1868/5734BFB3
.Rproj.user/AA774662/sources/s-1B2A1868/5734BFB3-contents
.Rproj.user/AA774662/sources/s-1B2A1868/8046AF7F-contents
.Rproj.user/AA774662/sources/s-1B2A1868/lock_file
.Rproj.user/shared/notebooks/7011AC37-08-visualisation/1/AA7746621B2A1868/chunks.json
.Rproj.user/shared/notebooks/7011AC37-08-visualisation/1/AA774662DFC10853/chunks.json
.Rproj.user/shared/notebooks/7011AC37-08-visualisation/1/AA774662F0DB40D8/chunks.json
.Rproj.user/shared/notebooks/7011AC37-08-visualisation/1/s/chunks.json
.Rproj.user/shared/notebooks/8D9236E5-07-spatial-analysis-basics/1/AA774662DFC10853/chunks.json
.Rproj.user/shared/notebooks/E4CAA084-03-crs/1/AA774662DFC10853/chunks.json
.Rproj.user/AA774662/sources/per/t/4FEA1682
.Rproj.user/AA774662/sources/per/t/4FEA1682-contents
.Rproj.user/AA774662/sources/per/t/345F2689
.Rproj.user/AA774662/sources/per/t/345F2689-contents
.Rproj.user/AA774662/sources/prop/C66FA4C8
.Rproj.user/shared/notebooks/7011AC37-08-visualisation/1/AA774662BF562AD4/chunks.json
.Rproj.user/shared/notebooks/B8ACD470-geocode/1/s/chunks.json
.Rproj.user/shared/notebooks/B8ACD470-geocode/1/s/cnsivx1wzi0ku/000002.csv
.Rproj.user/shared/notebooks/B8ACD470-geocode/1/s/crthceyeii78a/000002.csv
.Rproj.user/AA774662/bookdown-crossref/10-visualisation-datawrapper.Rmd.xref
.Rproj.user/AA774662/sources/prop/2AAB03BD
.Rproj.user/AA774662/sources/prop/E979D646
.Rproj.user/AA774662/sources/s-00C28B39/8E8BA678
.Rproj.user/AA774662/sources/s-00C28B39/8E8BA678-contents
.Rproj.user/AA774662/sources/s-00C28B39/B12E10BB
.Rproj.user/AA774662/sources/s-00C28B39/B12E10BB-contents
.Rproj.user/AA774662/sources/s-00C28B39/BE75FA6A
.Rproj.user/AA774662/sources/s-00C28B39/BE75FA6A-contents
.Rproj.user/AA774662/sources/s-00C28B39/lock_file
.Rproj.user/shared/notebooks/C7EFCC73-10-visualisation-datawrapper/1/AA77466200C28B39/chunks.json
.Rproj.user/shared/notebooks/C7EFCC73-10-visualisation-datawrapper/1/s/chunks.json
.Rproj.user/shared/notebooks/FC11CBEB-09-visualisation-qgis/1/AA77466200C28B39/chunks.json
.Rproj.user/shared/notebooks/FC11CBEB-09-visualisation-qgis/1/s/chunks.json
.Rproj.user/AA774662/bookdown-crossref/11-vectorisation.Rmd.xref
.Rproj.user/AA774662/bookdown-crossref/12-network-analysis.Rmd.xref
.Rproj.user/AA774662/bookdown-crossref/13-relief.Rmd.xref
.Rproj.user/AA774662/bookdown-crossref/exam.Rmd.xref
.Rproj.user/AA774662/sources/prop/044E39CC
.Rproj.user/AA774662/sources/prop/070BC35D
.Rproj.user/AA774662/sources/prop/11562DC5
.Rproj.user/AA774662/sources/prop/46CF7A07
.Rproj.user/AA774662/sources/prop/ADC495DC
.Rproj.user/AA774662/sources/s-36C829BB/0BAB1610-contents
.Rproj.user/AA774662/sources/s-36C829BB/168D62E1-contents
.Rproj.user/AA774662/sources/s-36C829BB/26C8EAEA
.Rproj.user/AA774662/sources/s-36C829BB/26C8EAEA-contents
.Rproj.user/AA774662/sources/s-36C829BB/4D20EBA7-contents
.Rproj.user/AA774662/sources/s-36C829BB/621894BA
.Rproj.user/AA774662/sources/s-36C829BB/621894BA-contents
.Rproj.user/AA774662/sources/s-36C829BB/7B5E8212-contents
.Rproj.user/AA774662/sources/s-36C829BB/82774404
.Rproj.user/AA774662/sources/s-36C829BB/82774404-contents
.Rproj.user/AA774662/sources/s-36C829BB/9F5BD5C4
.Rproj.user/AA774662/sources/s-36C829BB/9F5BD5C4-contents
.Rproj.user/AA774662/sources/s-36C829BB/CDCD2954-contents
.Rproj.user/AA774662/sources/s-36C829BB/DAB7453A-contents
.Rproj.user/AA774662/sources/s-36C829BB/lock_file
.Rproj.user/shared/notebooks/068EBE56-11-vectorisation/1/AA7746620EB50408/chunks.json
.Rproj.user/shared/notebooks/068EBE56-11-vectorisation/1/s/chunks.json
.Rproj.user/shared/notebooks/313A28C6-12-network-analysis/1/AA77466236C829BB/chunks.json
.Rproj.user/shared/notebooks/313A28C6-12-network-analysis/1/s/chunks.json
.Rproj.user/shared/notebooks/4C4A79A7-13-relief/1/AA77466236C829BB/chunks.json
.Rproj.user/shared/notebooks/4C4A79A7-13-relief/1/s/chunks.json
.Rproj.user/shared/notebooks/B269541F-exam/1/AA77466236C829BB/chunks.json
.Rproj.user/shared/notebooks/B269541F-exam/1/s/chunks.json
.Rproj.user/AA774662/sources/per/t/26C8EAEA
.Rproj.user/AA774662/sources/per/t/26C8EAEA-contents
.Rproj.user/AA774662/sources/per/t/621894BA
.Rproj.user/AA774662/sources/per/t/621894BA-contents
.Rproj.user/AA774662/sources/per/t/82774404
.Rproj.user/AA774662/sources/per/t/82774404-contents
.Rproj.user/AA774662/sources/per/t/9F5BD5C4
.Rproj.user/AA774662/sources/per/t/9F5BD5C4-contents
.Rproj.user/AA774662/sources/s-8F44A66E/26C8EAEA
.Rproj.user/AA774662/sources/s-8F44A66E/26C8EAEA-contents
.Rproj.user/AA774662/sources/s-8F44A66E/621894BA
.Rproj.user/AA774662/sources/s-8F44A66E/621894BA-contents
.Rproj.user/AA774662/sources/s-8F44A66E/82774404
.Rproj.user/AA774662/sources/s-8F44A66E/82774404-contents
.Rproj.user/AA774662/sources/s-8F44A66E/9F5BD5C4
.Rproj.user/AA774662/sources/s-8F44A66E/9F5BD5C4-contents
.Rproj.user/AA774662/sources/s-8F44A66E/lock_file
